html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.row{
  display: flex;
  gap: 4px;
}
.amount {
  display: flex;
  justify-content: center;
  height: 9rem;
  border-radius: 1rem;
}

.amount input {
  min-height: 3rem;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 1rem;
  text-align: right;
  padding-right: 1rem;
  font-size: 2rem;
}

button {
  padding: 20px;
  border-radius: 1rem;
}

.btn {
  height: 5rem;
  width: 5rem;
  font-size: 1.1rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}
